/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,
button {
    color: var(--button-text, #000000);
    background-color: var(--button-background, transparent);
    border: var(--button-border, none);
    transition: filter 0.2s ease, transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,
button:hover {
    filter: brightness(90%);
    transform: translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
    filter: var(--icon-filter, none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button.button-default {
    --button-text: #ffffff;
    --button-background: #191919;
    --button-border: 1px solid #ffffff;
}

.button.button-default:hover {
    --button-text: #ffffff;
    --button-background: #595959;
    --button-border: 1px solid #ffffff;
    filter: none;
    transform: none;
}

/* Custom styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

p.button-stack-divider {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.column {
    background-color: white;
    border-radius: 2rem;
    min-width: 35rem;
}

body {
    background-color: #f5f5f5;
}

a.icon-link {
    background-color: #191919;
    color: #fff;
    border: var(--button-border, none);
    --button-text: #ffffff;
    --button-background: #191919;
    --button-border: 1px solid #ffffff;
}

p.button-icon-list {
    user-select: none;
}

.button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    min-height: 3rem;
    text-decoration: none;
    white-space: normal;
    background-color: #191919;
    border-radius: 4rem;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.3;
}

.button-icon:hover {
    background-color: #595959;
}

footer, footer>a {
    color: gray;
}

/* ----------------------------------------------------------------------------
 * Huawei Fonts
 * Extracted from <https://portal.hc-cdn.com/cnpm-global-resources/1.2.4/css/hk/portal-global.css>
 * Included on <https://www.huaweicloud.com/intl/en-us/>
 * Accessed at 2025-11-26
 */

@font-face {
    font-family: 'Helvetica';
    font-weight: 100;
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Thin.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Thin.eot?#iefix') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Thin.woff') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Thin.ttf') format('truetype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Thin.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Regular.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Regular.eot?#iefix') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Regular.woff') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Regular.ttf') format('truetype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/Helvetica/HelveticaNeue_Regular.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'frutiger';
    font-weight: 100;
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/frutigernext-lt-medium.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/frutigernext-lt-medium.eot?#iefix') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/frutigernext-lt-medium.woff') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/frutigernext-lt-medium.ttf') format('truetype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/frutigernext-lt-medium.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'frutiger';
    font-weight: 400;
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/LT_54361.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/LT_54361.eot?#iefix') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/LT_54361.woff') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/LT_54361.ttf') format('truetype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/frutiger/LT_54361.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'HuaweiSans';
    font-weight: 400;
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.eot?#iefix20180113') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.woff2?20180113') format('woff2'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.woff?20180113') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.ttf?20180113') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HuaweiSans-Light';
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Light.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Light.eot?#iefix20180113') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Light.woff2?20180113') format('woff2'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Light.woff?20180113') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Light.ttf?20180113') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HuaweiSans-Bold';
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Bold.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Bold.eot?#iefix20180113') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Bold.woff2?20180113') format('woff2'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Bold.woff?20180113') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Bold.ttf?20180113') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HuaweiSans-Regular';
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.eot');
    src: url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.eot?#iefix20180113') format('embedded-opentype'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.woff2?20180113') format('woff2'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.woff?20180113') format('woff'),
        url('https://res-static1.huaweicloud.com/program/common/hk/en-us/static/en_js/portalGlobal/fonts/huawesans/HuaweiSans-Regular.ttf?20180113') format('truetype');
    font-weight: normal;
    font-style: normal;
}